body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.orange_color{
    color:orange;
}

.section{
    display: flex;
    justify-content: space-around;
    
}
.background_image{
    background-image: url(images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.another_background_image{
     background-image: url(images/background_2.jpg); 
     background-repeat: no-repeat;
    background-size: cover; 
}
.background_image_3{
    background-image: url(images/background_3.jpg); 
    background-repeat: no-repeat;
   background-size: cover; 
   width: 100%;
   height: 700px;
}

.half_width {
   
    /* width: 50%; */
    padding: 50px;

}
.half_width img{
    width: 450px;
    padding-top: 50px;
    
   
}
 .half_width_section_2{ 
    padding: 50px;
} 
.half_width_2{
    display: flex;
    justify-content: space-between ;
    
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(190, 93, 122));
    padding: 10px 40px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    
}

.box{
    width: 30%;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 10px 10px 10px rgb(190, 93, 122);
    padding: 30px;
}
footer p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}